body {
    letter-spacing: 0.3px;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(135deg, #FF6E9F, #FFFEFA, #FFBC78);
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans', sans-serif;
    color: rgb(32, 32, 32);
}

.container {
    border-radius: 20px;
    background: white;
    padding-bottom: 2rem;
    width: 500px;
    height: 450px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 0px 0px 10px 0px #9b9b9b
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    text-align: center;
    padding-top: 2rem;
}

.header p {
    font-weight: 300;
}

.header a {
    color: #4896ff;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 0;
}

.names {
    display: flex;
    flex-direction: row;
}

.firstname {
    border-radius: 10px 0px 0px 10px;
}

.lastname {
    border-radius: 0px 10px 10px 0px;
}

button {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
    border-radius: 15px;
    background: #4896ff;
    color: white;
    border: 1px solid #4896ff;
    transition: all 0.3s ease-in-out;
    font-size: 1rem;
}

button:hover {
    background-color: royalblue;
}

button .spacer {
    width: 20px;
}

button .fa {
    font-size: 20px;
}

.tos {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.tos p {
    font-weight: 300;
    color: gray;
    margin-left: 5px;
    text-decoration: none;
}

.tos a {
    text-decoration: none;
    color: #4896ff;
}

input {
    padding: 8px 10px;
    font-size: 1rem;
    height: 2.5rem;
    border-radius: 10px;
    border: 1px solid white;
    background: #F7F7F7;
    transition: all 0.3s ease-in-out;
}

input::placeholder {
    text-align: left;
    font-style: italic;
    color: rgb(0,0,0,0.4);
}

input:focus {
    outline: none;
    background-color: white;
    border: 1px solid rgb(240, 240, 240);
}

input:hover {
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(240, 240, 240);
}

input[type='checkbox']:focus {
    box-shadow: none;
}